---
layout: academic
---
<article itemscope itemtype="https://schema.org/BlogPosting">
  <a href="{{ '/blog/' | relative_url }}">← All writing</a>
  <h1 itemprop="headline">{{ page.title }}</h1>
  <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: '%B %d, %Y' }}</time> · <span itemprop="author">{{ site.author.name }}</span></p>
  <div class="post-body" itemprop="articleBody">{{ content }}</div>
  <a href="{{ '/blog/' | relative_url }}">← Back to writing</a>
</article>
